#logo{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 50px;
}

#inputs-login{
  padding-left: 70px;
  margin-left: 1px;
}

#buttons-login{
  margin-top: 20px;
  margin-left: 120px;
}

a{
  margin-left: -5px;
}
