<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Loja</ion-title>
  </ion-toolbar>
  <ion-chip id="coins" color="secondary">
    <ion-avatar>
      <img src="../../../assets/images/gold-coin.svg">
    </ion-avatar>
    <ion-label>{{coins}}</ion-label>
  </ion-chip>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of itens">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{item.tipo}}</ion-card-subtitle>
            <ion-card-title><img src={{item.asset}} alt="Avatar" class="avatar" /></ion-card-title>
          </ion-card-header>
          <ion-chip class="buy" color="secondary">
            <ion-icon name="cart-outline"></ion-icon>
            <ion-label>{{item.preco}} coins</ion-label>
          </ion-chip>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
