<ion-content>
  <div id="logo">
    <img width="100px" height="100px" src="../../../assets/images/logo.png" alt="Logo">
  </div>
  <form >
    <div id="inputs-login">
      <input required type="text" placeholder="Usuário">

      <input required type="password" placeholder="Senha">
    </div>

    <div id="buttons-login">
      <div>
        <ion-button type="submit">
          Entrar
        </ion-button>
      </div>

      <div>
        <a href="">Criar nova conta</a>
      </div>
    </div>

  </form>
</ion-content>
